* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --maincolor: hsl(0, 0%, 0%);
  --boxcolor: hsl(0, 0%, 0%);
  --pagecolor: #fbfbfb;
  --details: rgb(182, 182, 182);

  --fontes: 'Roboto Mono', monospace;
}

/* "HEADER" */
header {
  display: flex;
  justify-content: space-between;
  color: var(--maincolor);
  font-family: 'Staatliches', cursive;
  font-size: large;
}

header span {
  margin-right: 1rem;
}
header span i {
  display: flex;
  margin-left: 1.5rem;
  font-size: 1.8rem;
  background-color: var(--details);
  height: 2rem;
  width: 3rem;
  border-radius: 2rem;
}

span i:hover {
  cursor: grab;
  background-color: var(--maincolor);
  color: var(--pagecolor);
}

#header {
  border-bottom: 1px solid var(--maincolor);
  margin-left: 0;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

/* BASE OF THE PAGE */
body {
  background-color: var(--pagecolor);
  position: relative;
  top: 1rem;
}

.box {
  display: block;
  height: 31rem;
  width: 26rem;

  border-radius: 19px;
  background: var(--pagecolor);
  box-shadow: -25px 25px 45px #a4a4a4, 25px -25px 45px #ffffff;
  margin-left: 2rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
}

.first {
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

.inside {
  height: 23rem;
  overflow: hidden;
  overflow-x: unset;
  overflow-y: scroll;
}

/* HEADER OF THE WINDOW*/

.headgrid {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.75px solid var(--boxcolor);
  padding-bottom: 0;
  padding: 0.7rem;
  padding-left: 1rem;
}

.headgrid h2 {
  position: relative;
  font-family: var(--fontes);
  font-size: 1.3rem;
}

.headgrid span i {
  display: inline-flex;
  padding-right: 1rem;
}

/* BUTTONS*/

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
  border-top: 1px solid var(--maincolor);
}

.buttons span {
  cursor: grab;

  background-color: var(--maincolor);
  color: var(--pagecolor);

  padding: 0.4rem;
  margin: 1rem;
  border-radius: 10px;

  font-size: 0.9rem;
  font-family: var(--fontes);
}

.buttons span:hover {
  background-color: var(--pagecolor);
  color: var(--maincolor);
}

/* TITULOS*/

.title {
  display: relative;
  margin-top: 2rem;
  margin-left: 1rem;

  font-family: var(--fontes);
}

/* PAGE */
main {
  color: var(--maincolor);
  position: absolute;
  margin-right: 1rem;
  top: 80px;
}

main p {
  display: flex;
  margin: 1rem;
  padding-right: 4rem;

  font-family: var(--fontes);
}

/*EXTRA*/

.box.minus {
  height: 16rem;
  width: 14rem;
  margin-right: 4rem;
}

.minus.add {
  margin-left: 1.5rem;
}

.headgrid.add h2 {
  font-size: 1.2rem;
}

.headgrid.add span i {
  font-size: 0.8rem;
  padding-right: 0.3rem;
}

.extra span {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;

  font-size: 2rem;
}

.extra span i {
  background: var(--details);
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
}

.extra span i:hover {
  cursor: grab;
  background: var(--maincolor);
  color: var(--pagecolor);
}

.buttons.add {
  gap: 0.7rem;
}

.buttons.add span {
  font-size: 0.8rem;
}

/*LJ*/
